/*배웠던 내용을 활용하여 자유롭게 스타일링해보세요.*/
.todo-list-template {
    background: white;
    width: 512px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    margin: 4rem auto 0;
  }
  
  .title {
    padding: 2rem;
    font-family: "Malgun Gothic";
    font-size: 2.7rem;
    text-align: center;
    font-weight: normal;
    background: #5426cc;
    color: white;
  }
  
  .form-wrapper {
    padding: 1rem;
    border-bottom: 1px solid #5426cc;
  }
  
  .todos-wrapper {
    min-height: 5rem;
  }